<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap"
    rel="stylesheet">
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <title>Umap</title>
</head>

<body>
  <%- include('./partials/_header.ejs') %>

  <main class="container">
    <div class="map-options">
      <div class="my-maps"><a href="/api/map">My maps</a></div>
      <div class="favorite-maps"><a href="/api/map/fav">Favorite maps</a></div>
    </div>
    <div class="cards-list">
      <% for(const map of favMaps) {%>
      <a href="/api/map/<%= map.map_id %>">
        <div class="card">
          <div class="card-image">
          </div>

          <div class="card-text">
            <h3><%= map.title %></h3>
            <p><%= map.map_description %></p>
          </div>
          <div class="card-stats">
            <div class="stat">
              <div class="value">10</div>
              <div class="type">pins</div>
            </div>
            <div class="stat border">
              <div class="value">323</div>
              <div class="type">views</div>
            </div>
            <div class="stat">
              <div class="value"><i class="fas fa-star"></i></div>
              <div class="type">delete from favorite</div>
            </div>
          </div>
        </div>
      </a>
      <% }%>

    </div>

  </main>
  <!-- <footer>

        </footer> -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/f60010782b.js" crossorigin="anonymous"></script>
  <script src="/scripts/helpers.js"></script>
</body>

</html>
