header {
  background-color: #3CB371;
  padding: 10px;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
header nav ul li {
  padding: 10px;
}
header a {
  color: white;
}

.logout-btn {
  padding: 5px;
  color: #fff;
  background-color: #333;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #3CB371;
  height: 100px;
  padding: 20px;
  width: 100%;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 40px;
  margin-top: 5%;
  padding: 2%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 13em 13em 4.5em;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 9px 9px 15px -2px rgba(0, 0, 0, 0.52);
  cursor: pointer;
  transition: 0.5s ease;
}
.card:hover {
  transform: scale(1.1);
}

.card-image {
  grid-area: image;
  background: url("https://picsum.photos/350/210");
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background-size: cover;
  position: relative;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text p {
  color: #333;
  font-weight: 400;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: #3CB371;
}
.card-stats .stat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  color: #fff;
}
.card-stats .type {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
.card-stats .value {
  font-size: 20px;
}

.card-like-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  color: red;
  background-color: #fff;
  font-size: 20px;
  border-radius: 45%;
  padding: 5px;
}

.map-options {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.map-options .my-maps {
  margin-right: 20px;
  padding: 5px;
  border-radius: 10px;
}
.map-options .my-maps:hover {
  background-color: #c6ecd7;
}
.map-options .favorite-maps {
  padding: 5px;
  border-radius: 10px;
}
.map-options .favorite-maps:hover {
  background-color: #c6ecd7;
}

#new-form-container #map {
  width: 100%;
  height: 100%;
  position: absolute;
}

#new-map-form {
  position: absolute;
  z-index: 99;
  background-color: white;
  top: 40%;
  height: 270px;
  width: 20%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
#new-map-form h3 {
  padding: 7px;
  text-align: center;
}
#new-map-form .new-map {
  padding: 5px;
  display: flex;
  height: 85%;
  flex-direction: column;
  justify-content: space-evenly;
}
#new-map-form .new-map .button-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}
#new-map-form .new-map button {
  width: 75px;
  justify-content: center;
}
#new-map-form input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  outline: none;
  margin: auto 15px;
}

#new-form-container {
  display: flex;
  justify-content: center;
}

.main-map-container {
  height: 80%;
  width: 90%;
}
.main-map-container #map {
  width: 50%;
  height: 400px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 96vw;
  margin: 0 auto;
}

body {
  background-color: #f4f4f4;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body h1 {
  color: #244751;
}

/*# sourceMappingURL=styles.layout.css.map */
