@import './vars';

#map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#new-point-form {
  position: absolute;
  border-radius: 10px;
  padding: 1em;
  top: 17%;
  left: 10px;
  background-color: #fff;
  height: 90vh;
  width: 20em;
}



.point-form-heder {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: $primary-color;
  padding: .5em;

  .toggle-fav {
    text-align: center;
  }

  .add-fav {
    cursor: pointer;
  }

  .add-marker,
  .delete-map {
    cursor: pointer;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
  }
}


.marker-list {
  margin-top: 10px;
  overflow-y: scroll;

  ul {
    height: 60vh;
    overflow-y: scroll;
    list-style: none;
  }

  li {
    border: 1px solid black;
    // padding: 5px;
    // margin: 3px;
    border-radius: 10px;
  }
  .marker-title-container {
    margin:5px 3px;
    padding:5px;
  }

  .marker-description-container {
    font-size: 12px;
    margin:5px 3px;
    padding:5px;
  }

  .marker-button-container {
    margin:5px 3px;
    padding:5px;
  }

  img {
    width:100%;
    height:150px;
    border-radius: 10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
}
