// <div id="edit-point-form" style="display: none">
// <!-- not sure if form action path is correct - how to specify for routing to update correct db record? -->
// <form id="edit-form">

//   <label for="point-title">title</label>
//   <input type="text" name="title" id="edit-point-title"><br>

//   <label for="point-description">description</label>
//   <input type="text" name="description" id="edit-point-description"><br>

//   <label for="point-image-url">image-url</label>
//   <input type="text" name="image_url" id="edit-point-image-url"><br>

//   <!-- hidden attributes -->
//   <input type="hidden" name="latitude" id="edit-point-latitude">
//   <input type="hidden" name="longitude" id="edit-point-longitude">
//   <input type="hidden" name="id" id="edit-point-id">
//   <input type="hidden" name="map_id" id="edit-point-mapid">

//   <button id="edit-point-submit">Edit</button>
// </form>
// </div>
#edit-point-form {
  display:flex;
  justify-content: column;

  input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    outline:none;
    width:90%;

  }

  button{
    margin:5px auto;
  }

}
