// See: https://sass-lang.com/
@import './header.scss';
@import './footer.scss';
@import './main-content.layout.scss';
@import './vars';
<<<<<<< HEAD
// @import './new-map-style.scss';
@import'./create-new-map.scss';
@import'./map.scss';
=======
@import './new-map-style.scss';
@import './createMarkers.scss';
>>>>>>> 01bf1724f2c1c8e4e17c42873677c2773f5e5dc0

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 96vw;
  margin: 0 auto;
}

body {
  background-color: #f4f4f4;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  h1 {
    color: #244751;
  }
}
