.top-map {
  display: flex;
  margin: 15px;
  width: 96vw;
  justify-content: space-evenly;


  .single-map {
    flex-basis: 75%;

  }


    #map {
      width: 100%;
      height: 400px;
      background-color: grey;
    }


  .marker-list {
    flex-basis: 20%;
    border-radius: 18px;
    // border: 1px solid black;

    .marker-list-item {
      border: .5px solid black;
      height: 15vh;
      background-color: white;

      h5 {
        margin: 5px;
      }

      p {
        font-size: 12px;
        margin: 5px;

      }


    }
  }

  .marker-item-bottom {
    display: flex;
    justify-content: space-between;
    margin: auto 8px;

  }

  .marker-image-url {
    height: 40px;
    width: 25%;
    border: 0.5px solid black;

    img {
      width: 100%;
      height: 40px;
    }
  }

  .marker-list-item:hover {
    background-color: #ebebeb;
  }
}

